body{
    margin:0px;
    padding: auto;
    font-size:25px;
    font-family: "Inter";
    color: white;
    background-image: linear-gradient(to right, #74ebd5, #ACB6E5);
    overflow: hidden;
}

.configurations{
    padding-left: 5%;
    padding-top: 5%;
}
#auto-start{
    width: 25px;
    height: 25px;
    border-radius: 5px;
}
#pomodoros, #min, #min-break, #min-longbreak{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: none;
    font: inherit;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100vw;
    height: 100vh;
}
.content{
    text-align: center;
    align-items: center;
    background-color: rgb(132, 132, 132);
    height: 450px;
    width: 300px;
    border-radius: 10px;
}
.content-options{
    visibility: hidden;
    text-align: center;
    align-items: center;
    background-color: rgb(132, 132, 132);
    height: 550px;
    width: 300px;
    border-radius: 10px;
}
#options{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font: inherit;
    cursor: pointer;
    background-color: rgb(132, 132, 132);
    color: white;
}
.action{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font: inherit;
    cursor: pointer;
    background-color: orange;
    color: white;
}